In [2]:
import pandas as pd

In [3]:
my_list = ["Toyota", "Mercedes", "Ford", "Jeep", "Honda"]

In [4]:
series = pd.Series(my_list)

In [5]:
print(series)

0      Toyota
1    Mercedes
2        Ford
3        Jeep
4       Honda
dtype: object

In [16]:
from datetime import datetime, timedelta

In [17]:
start_date = datetime(2021, 5, 1)
end_date = datetime(2021, 5, 12)

In [18]:
current_date = start_date

In [19]:
while current_date <= end_date:
    print(current_date.strftime("%D-%M-%Y"))
    current_date += timedelta(days = 1)

01-05-2021
02-05-2021
03-05-2021
04-05-2021
05-05-2021
06-05-2021
07-05-2021
08-05-2021
09-05-2021
10-05-2021
11-05-2021
12-05-2021

In [21]:
data = {'Name':['Alice', 'Bob', 'Charlie'],
       'Age' : [25,30,35],
        'City' : ['New York', 'Los Angeles', 'Chicago']
       }

df = pd.DataFrame(data)
print(data)

{'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35], 'City': ['New York', 'Los Angeles', 'Chicago']}

In [22]:
data = [['Alice', 25, 'New York'],
        ['Bob', 30, 'Los Angeles'],
['Charlie', 35, 'Chicago']]
        
df = pd.DataFrame(data, columns = ['Name', 'Age', 'City'])
print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [23]:
df = pd.read_csv('/home/exam1/Desktop/DS/medal.csv')

print(df)

         country  gold_medal
0  United States          46
1  Great Britain          27
2          China          26
3         Russia          19
4        Germany          17

In [24]:
data = {'Name':['Alice', 'Bob', 'Charlie'],
       'Age' : [25,30,35],
        'City' : ['New York', 'Los Angeles', 'Chicago']
       }
df = pd.DataFrame(data)

sorted_df = df.sort_values(by=['Age', 'City'], ascending=[True,False])
print(sorted_df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [26]:
data = {'Name':['Alice', 'Bob', 'Charlie'],
       'Age' : [25,30,35],
        'City' : ['New York', 'Los Angeles', 'Chicago']
       }
custom_index = ['A','B','C']
df = pd.DataFrame(data,index=custom_index)
df_reset = df.reset_index(drop=True)
print(df_reset)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [27]:
data = {'Name':['Alice', 'Bob', 'Charlie'],
       'Age' : [25,30,35],
        'City' : ['New York', 'Los Angeles', 'Chicago']
       }
df = pd.DataFrame(data)
selected_rows = df.iloc[:2]
print(selected_rows)

    Name  Age         City
0  Alice   25     New York
1    Bob   30  Los Angeles

In [29]:
data = {'Name':['Alice', 'Bob', 'Charlie'],
       'Salary' : [60000,80000,55000],
        'Occupation' : ['Engineer', 'Doctor', 'Teacher']
       }
df = pd.DataFrame(data)
average_salary = df.groupby('Occupation')['Salary'].mean()

print(average_salary)

Occupation
Doctor      80000.0
Engineer    60000.0
Teacher     55000.0
Name: Salary, dtype: float64

In [33]:
import numpy as np
data = {
    'A' : [1,2,np.nan,4],
    'B' : [5,np.nan,7,8],
    'C' : [9,10,11,np.nan]
}

df = pd.DataFrame(data)
df_filled = df.fillna(0)

print(df_filled)

     A    B     C
0  1.0  5.0   9.0
1  2.0  0.0  10.0
2  0.0  7.0  11.0
3  4.0  8.0   0.0

In [35]:
data = {
    'cname' : ['Company A', 'Company B', 'Company C'],
    'profit' : [1000,-500,1200]
}
df = pd.DataFrame(data)

def convert_to_boolean(value):
    return value > 0

df['profit'] = df['profit'].apply(convert_to_boolean)
print(df)

       cname  profit
0  Company A    True
1  Company B   False
2  Company C    True

In [38]:
data1 = {
    'eid' : [101,102,103,104],
    'ename' : ['Alice','Bob','Charlie','David'],
    'stipend' : [500,600,550,700]
}

data2 = {
    'eid' : [101,102,104,105],
    'designation' : ['Engineer', 'Doctor', 'Doctor', 'Teacher']
}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

merged_df = pd.merge(df1,df2, on='eid', how='left')
merged_df.rename(columns={'designation':'position'},inplace=True)
print(merged_df)

   eid    ename  stipend  position
0  101    Alice      500  Engineer
1  102      Bob      600    Doctor
2  103  Charlie      550       NaN
3  104    David      700    Doctor